:root {
  /* Background Colors */
  --v-background:21, 21, 21;
  --v-background-alt: 41, 44, 50;
  --v-background-secondary: 40, 50, 70;
  --v-background-light: 240, 240, 240;
  --v-background-input: 50, 50, 60;
  --v-background-dark: 10, 10, 20;

  /* Shadows */
  --v-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  --v-border-color: 200, 200, 200;
  --v-text-color: 240, 240, 240;

  /* Borders */
  --v-border-radius: 5px;
  --v-border-radius-md: 8px;
  --v-border-radius-lg: 12px;
  --v-border-radius-xl: 20px;
  --v-border: 1px solid rgba(var(--v-border-color), 0.2);

  /* Primary and Secondary Colors */
  --v-primary: 100, 140, 255;
  --v-secondary: 150, 150, 170;
  --v-secondary-alt: 90, 170, 255;

  /* Status Colors */
  --v-success: 60, 230, 100;
  --v-warning: 255, 180, 60;
  --v-danger: 220, 60, 60;
  --v-error: 220, 60, 60;
  --v-info: 70, 130, 180;
  --v-light: 240, 240, 240;
  --v-dark: 30, 30, 40;
  --v-white: 255, 255, 255;

  /* Gradient Colors */
  --v-gradient-primary: linear-gradient(90deg, rgba(100, 140, 255, 1), rgba(60, 110, 255, 1));
  --v-gradient-secondary: linear-gradient(90deg, rgb(80, 90, 120), rgb(40, 50, 80));
  --v-gradient-info: linear-gradient(90deg, rgba(70, 130, 180, 1), rgb(30, 70, 130));
  --v-gradient-success: linear-gradient(90deg, rgb(60, 230, 100), rgb(40, 180, 60));
  --v-gradient-warning: linear-gradient(90deg, rgba(255, 180, 60, 1), rgb(200, 120, 40));
  --v-gradient-danger: linear-gradient(90deg, rgba(220, 60, 60, 1), rgb(180, 20, 20));
}

body {
  background-color: rgba(var(--v-background), 1);
  font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
  margin: 0;
  padding: 0;
  color: rgba(var(--v-text-color), 0.9);
  font-size: 15px;
  /** Antialiased */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* top center circle blur */
  background: radial-gradient(
    circle at top right,
    rgba(var(--v-background-alt), 0.8),
    rgba(var(--v-background), 1)
  );
  background-position: right center;

  z-index: -1;
}

.scrollbar {
  scrollbar-width: thin;
  box-sizing: border-box;
  scrollbar-color: rgba(var(--v-primary), 0.5) rgba(var(--v-background), 0.5);
  
}
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar.scrollbar-y::-webkit-scrollbar {
  height: 5px;
}
.scrollbar.scrollbar-x::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(var(--v-primary), 0.5);
  border-radius: var(--v-border-radius);
}
.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(var(--v-secondary), 1);
}
.divider {
  background-color: rgba(var(--v-background-alt), 0.1);
  height: 1px;
  border-bottom: 1px solid rgba(var(--v-border-color), 0.1);
}
